/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
  margin: 0 0 0 0 !important;
}

header {
  top: 0;
  width: 100%;
  overflow: hidden;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  height: auto;
  text-align: center;
}
