<header>
  <mat-toolbar [color]="toolbarColor">
    <mat-toolbar-row [ngClass]="type">
      <img [src]="imgUrl" width="60px" height="48px">
      <span style="color: white; margin-left: 5px;">GG/GL</span>
      <span class="example-spacer"></span>
      <mat-icon style="color: white;" class="example-icon" (click)="clickAccount()">account_circle</mat-icon>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="menu">
    <mat-button-toggle-group #group="matButtonToggleGroup">
      <mat-button-toggle *ngFor="let nav of navs;" [value]="nav.data.nav.value" #toggle (click)="navigate(nav.path)">
        {{nav.data.nav.name}}
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <div class="sub-menu">
    <mat-chip-list [ngClass]="getSubMenuClass('chip-list')">
      <mat-chip *ngFor="let sub of subMenu;" [ngClass]="getSubMenuClass('chip')" (click)="navigateSubMenu(sub.path)">
        <mat-icon style="color: white;">{{sub.data.nav.icon}}</mat-icon>
        <span style="color: white;">{{sub.data.nav.name}}</span>
      </mat-chip>
    </mat-chip-list>
  </div>

  <!--<div class="sub-menu">-->
    <!--<mat-chip-list *ngIf="group.value === 'lol'" class="lol-menu">-->
      <!--<mat-chip class="lol-menu-chip">-->
        <!--<mat-icon style="color: white;">drafts</mat-icon>-->
        <!--<span style="color: white;">News</span>-->
      <!--</mat-chip>-->
      <!--<mat-chip class="lol-menu-chip">-->
        <!--<mat-icon style="color: white;">accessibility</mat-icon>-->
        <!--<span style="color: white;">Champion</span>-->
      <!--</mat-chip>-->
      <!--<mat-chip class="lol-menu-chip">-->
        <!--<mat-icon style="color: white;">list</mat-icon>-->
        <!--<span style="color: white;">Rank</span>-->
      <!--</mat-chip>-->
      <!--<mat-chip class="lol-menu-chip">-->
        <!--<mat-icon style="color: white;">streetview</mat-icon>-->
        <!--<span style="color: white;">Community</span>-->
      <!--</mat-chip>-->
    <!--</mat-chip-list>-->

    <!--<mat-chip-list *ngIf="group.value === 'switch'" class="switch-menu">-->
      <!--<mat-chip class="switch-menu-chip">-->
        <!--<mat-icon style="color: white;">drafts</mat-icon>-->
        <!--<span style="color: white;">News</span>-->
      <!--</mat-chip>-->
      <!--<mat-chip class="switch-menu-chip">-->
        <!--<mat-icon style="color: white;">accessibility</mat-icon>-->
        <!--<span style="color: white;">Champion</span>-->
      <!--</mat-chip>-->
      <!--<mat-chip class="switch-menu-chip">-->
        <!--<mat-icon style="color: white;">streetview</mat-icon>-->
        <!--<span style="color: white;">Community</span>-->
      <!--</mat-chip>-->
      <!--<mat-chip class="switch-menu-chip">-->
        <!--<mat-icon style="color: white;">movie</mat-icon>-->
        <!--<span style="color: white;">Video</span>-->
      <!--</mat-chip>-->
    <!--</mat-chip-list>-->

    <!--<mat-chip-list *ngIf="group.value === 'ps4'" class="ps4-menu">-->
      <!--<mat-chip class="ps4-menu-chip">-->
        <!--<mat-icon style="color: white;">drafts</mat-icon>-->
        <!--<span style="color: white;">News</span>-->
      <!--</mat-chip>-->
      <!--<mat-chip class="ps4-menu-chip">-->
        <!--<mat-icon style="color: white;">accessibility</mat-icon>-->
        <!--<span style="color: white;">Champion</span>-->
      <!--</mat-chip>-->
      <!--<mat-chip class="ps4-menu-chip">-->
        <!--<mat-icon style="color: white;">streetview</mat-icon>-->
        <!--<span style="color: white;">Community</span>-->
      <!--</mat-chip>-->
      <!--<mat-chip class="ps4-menu-chip">-->
        <!--<mat-icon style="color: white;">movie</mat-icon>-->
        <!--<span style="color: white;">Video</span>-->
      <!--</mat-chip>-->
    <!--</mat-chip-list>-->
  <!--</div>-->
</header>
